@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgb(103, 18, 113);
    color: white;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;

}

section.imagem {
    background-color: rgb(2, 2, 102);
    color: white;

}

section.normal {
    background-color: rgb(2, 102, 27);
    color: white;

}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

footer {
    color: white;
    background-color: green;
    padding: 10px;
}
