@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahona, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgb(103, 18, 113);
    color: white;
    font-family: var(--fonte1);

}

section {
    padding-top: 20vh;
    padding-bottom: 20vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 4vw;

}

section.imagem {
    background-color: rgb(2, 2, 102);
    color: white;
    box-shadow: inset 0px 6px 3px 0px rgba(0, 0, 0, 0.359);
    background-attachment: fixed;
    

}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.474);
    width: 400px;
    text-shadow: 1px 1px 0px black;
    
}

section.normal {
    background-color: rgb(2, 102, 27);
    color: white;

}

section#img01 {
    background-image: url('../imagens/pinkfloyd.jpg');
    background-position: center center;
    background-size: cover;
}

section#img02 {
    background-image: url('../imagens/universe.jpg');
    background-size: cover;
}

section#img03 {
    background-image: url('../imagens/pinkfoyd2.jpg');
    background-size: cover;
    background-position: center center
    
    
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
   
    
}

header p {
    padding-bottom: 50px;
}

footer {
    color: white;
    background-color: green;
    padding: 10px;
}
